<h3><a href="{{ '/' | relative_url }}" class="site-title">{{ site.title }}</a></h3>

<a href="https://github.com/learningssik/learningssik.github.io/new/main/_public/?filename=YYYY-MM-DD-new-post.md&value=---%0Atitle: 여기에 글 제목을 입력하세요%0Alayout: post%0Adate: YYYY-MM-DD%0A---%0A%0A여기에 본문을 작성하세요." class="btn new-post-btn" target="_blank">+ 새 글 작성하기</a>

<nav class="sidebar-nav">
  <ul>
    <li>
      <details class="nav-section" open>
        <summary>개발</summary>
        <ul>
          {% for post in site.public %}
            <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </details>
    </li>
  </ul>
</nav>
