<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>

    <div class="sidebar">
      {% include sidebar.html %}
    </div>

    <div class="main-content">
      {% include header.html %}
      <main class="container">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
